<!-- Tabela escrita pelo CHATGPT e nao otimizado para css -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Interativa</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
<div class="container">
    <table>
        <tr>
            <th>Caixa de seleção</th>
            <th>Título Documento</th>
            <th>Data de Validade</th>
            <th>Empresa</th>
            <th>Categoria</th>
            <th>Download</th>
        </tr>
        <tr>
            <td>Dado 1</td>
            <td>Dado 2</td>
            <td>Dado 3</td>
            <td>Dado 4</td>
            <td>Dado 5</td>
            <td>Dado 6</td>

        </tr>
        <tr>
            <td>Dado 1</td>
            <td>Dado 2</td>
            <td>Dado 3</td>
            <td>Dado 4</td>
            <td>Dado 5</td>
        </tr>
        <tr>
            <td>Dado 1</td>
            <td>Dado 2</td>
            <td>Dado 3</td>
            <td>Dado 4</td>
            <td>Dado 5</td>
        </tr>
        <tr>
            <td>Dado 1</td>
            <td>Dado 2</td>
            <td>Dado 3</td>
            <td>Dado 4</td>
            <td>Dado 5</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
    </table>
</div>
</body>

</html>
